body{
background:#070014;
color:white;
font-family:Arial;
margin:0;
min-height:100vh;
display:flex;
justify-content:center;
}
.app{width:700px;padding:30px}
header{display:flex;align-items:center;gap:20px}
header img{width:90px}
.calculator{
background:#17112d;
padding:25px;
border-radius:30px;
box-shadow:0 0 50px #8b4cff;
}
#expression{text-align:right;color:#aaa}
#result{text-align:right;font-size:55px}
#keys{display:grid;grid-template-columns:repeat(4,1fr);gap:12px}
button{
padding:18px;
border:0;
border-radius:16px;
background:#30204d;
color:white;
}
button:hover{background:#a05cff}
.light{background:#eee;color:#111}
