
*{box-sizing:border-box}
body{
margin:0;
min-height:100vh;
background:radial-gradient(circle,#482080,#05000d);
color:white;
font-family:Arial;
}
#app{max-width:800px;margin:auto;padding:25px}
.top{display:flex;align-items:center;gap:15px}
.top img{width:80px}
.glass{
background:rgba(20,15,45,.75);
backdrop-filter:blur(20px);
border-radius:30px;
padding:25px;
margin:20px 0;
box-shadow:0 0 50px #7d35ff;
}
.display{
background:#030307;
border-radius:20px;
padding:20px;
text-align:right;
}
#result{font-size:55px}
#keys{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:12px;
margin-top:20px;
}
button{
padding:15px;
border:0;
border-radius:15px;
background:#2c2350;
color:white;
cursor:pointer;
}
button:hover{
transform:translateY(-3px);
background:#925cff;
}
.mobile-nav{display:none}
.light{background:#eee;color:#111}
@media(max-width:600px){
.mobile-nav{display:flex;gap:5px}
#keys{grid-template-columns:repeat(4,1fr)}
}
